* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

.container-fluid {
  max-width: 60%;
  margin: 0 auto;
}

.blue {
  color: #0282f9;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header .top-side {
  background-color: #0282f9;
  height: 25px;
}

header .top-side nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .top-side nav ul li {
  margin-left: 50px;
}

header .top-side nav ul li a {
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}

header .bottom-side {
  height: 120px;
  padding-top: 20px;
  background-color: white;
}

header .bottom-side .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .bottom-side .container .brand img {
  max-width: 80px;
}

header .bottom-side .container nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .bottom-side .container nav ul li {
  text-transform: uppercase;
  padding: 0 10px;
}

header .bottom-side .container nav ul li a {
  font-size: 14px;
  font-weight: bold;
  color: #464646;
}

header .bottom-side .container nav ul li a:hover {
  color: #0282f9;
}

header .bottom-side .container .searchbar {
  position: relative;
}

header .bottom-side .container .searchbar input {
  border-bottom: 3px solid #0282f9;
}

header .bottom-side .container .searchbar span {
  top: 0;
  right: 0px;
  position: absolute;
}

.jumbo {
  margin-top: 140px;
  height: 400px;
  background-image: url("/images/jumbotron.jpg");
  background-position-x: center;
  background-size: cover;
}

main {
  background-color: #1c1c1c;
}

main #current_series h2 {
  display: inline;
  padding: 10px 15px;
  color: white;
  background-color: #0282f9;
}

main .box-card {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

main .box-card .card {
  width: 180px;
  margin: 20px 10px;
}

main .box-card .card .card-image {
  width: 180px;
  height: 180px;
}

main .box-card .card img {
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

main .box-card .card .card-title h4 {
  font-size: 14px;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  padding-top: 15px;
}

main .box-card .card:hover {
  transition: 1s;
  opacity: 0.8;
  transform: translateY(-10px);
}

main .button_load {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

main .button_load a {
  color: white;
  background: #0282f9;
  padding: 10px 65px;
  text-transform: uppercase;
}

main .info {
  background: #0282f9;
  padding: 20px 0;
}

main .info ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

main .info ul li {
  vertical-align: middle;
  margin: 10px 10px;
}

main .info ul li a {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

main .info ul li img {
  vertical-align: middle;
  height: 50px;
  width: 35px;
}

main .bar_blue {
  background: #0282f9;
  height: 100px;
  position: relative;
}

main .bar_blue .content-image {
  position: absolute;
  top: -220px;
}

main .bar_blue .content-image img {
  border: 2px solid white;
}

main .bar_blue .content-image span {
  background: #52bfe3;
  color: white;
  border-left: 2px solid white;
  border-top: 2px solid white;
  position: absolute;
}

main .card_description {
  padding-top: 100px;
  background: white;
}

main .card_description .description_title h3 {
  text-transform: uppercase;
}

main .card_description .description_content {
  margin-top: 30px;
  color: white;
  display: flex;
}

main .card_description .description_content .description_price {
  background: #55ba59;
  padding: 10px 15px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

main .card_description .description_content .price_check {
  background: #55ba59;
  padding: 10px 15px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

footer {
  background-image: url("/images/footer-bg.jpg");
  background-size: cover;
}

footer .footer-link {
  padding: 20px 0;
}

footer .footer-link .container {
  display: flex;
}

footer .footer-link .container nav {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

footer .footer-link .container nav ul {
  margin: 0 20px;
}

footer .footer-link .container nav ul li:first-child {
  padding-bottom: 10px;
  color: white;
}

footer .footer-link .container nav ul li a {
  font-size: 11px;
  color: grey;
}

footer .footer-link .container nav ul li a:hover {
  color: #0282f9;
}

footer .footer-link .container nav p {
  color: grey;
  padding: 10px 0;
  font-size: 13px;
}

footer .footer-link .container .logo-img {
  width: 70%;
  background-image: url("/images/dc-logo-bg.png");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

footer .footer-social {
  padding: 40px 0;
  background: #303030;
}

footer .footer-social .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer .footer-social .container .subscription a {
  color: white;
  border: 1px solid #0282f9;
  padding: 10px 15px;
}

footer .footer-social .container .social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

footer .footer-social .container .social h4 {
  text-transform: uppercase;
  color: #0282f9;
  margin-right: 40px;
}

footer .footer-social .container .social ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer .footer-social .container .social ul li {
  margin: 0 10px;
}

footer .footer-social .container .social ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: grey;
  color: lightgrey;
}

footer .footer-social .container .social ul li a:hover {
  background: #0282f9;
}

