* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header .top-side {
  background-color: #0282f9;
  height: 25px;
}

header .top-side nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .top-side nav ul li {
  margin-left: 50px;
}

header .top-side nav ul li a {
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}

header .bottom-side {
  height: 120px;
  padding-top: 20px;
  background-color: white;
}

header .bottom-side .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .bottom-side .container .brand img {
  max-width: 80px;
}

header .bottom-side .container nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .bottom-side .container nav ul li {
  text-transform: uppercase;
  padding: 0 10px;
}

header .bottom-side .container nav ul li a {
  font-size: 14px;
  font-weight: bold;
  color: #464646;
}

header .bottom-side .container nav ul li a:hover {
  color: #0282f9;
}

header .bottom-side .container .searchbar {
  position: relative;
}

header .bottom-side .container .searchbar input {
  border-bottom: 3px solid #0282f9;
}

header .bottom-side .container .searchbar span {
  top: 0;
  right: 0px;
  position: absolute;
}

.jumbo {
  margin-top: 140px;
  height: 400px;
  background-image: url("/images/jumbotron.jpg");
  background-position-x: center;
  background-size: cover;
}

main {
  background-color: #1c1c1c;
}

main #current_series h2 {
  display: inline;
  padding: 10px 15px;
  color: white;
  background-color: #0282f9;
}

