header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  .top-side {
    background-color: $primary-blue;
    height: 25px;
    nav {
      ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        li {
          margin-left: 50px;
          a {
            text-transform: uppercase;
            color: white;
            font-size: 12px;
          }
        }
      }
    }
  }

  .bottom-side {
    height: 120px;
    padding-top: 20px;
    background-color: white;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

        .brand {
          img {
            max-width: 80px;
          }
        }
      nav {
        ul {
          display: flex;
          justify-content: space-around;
          align-items: center;
          li {
            text-transform: uppercase;
            padding: 0 10px;

            a {
              font-size: 14px;
              font-weight: bold;
              color: $nav-link;
              &:hover {
                color: $nav-link-hover;
              }
            }
          }
        }
      }

      .searchbar {
        position: relative;
        input {
          border-bottom: 3px solid $primary-blue;
        }

        span {
          top: 0;
          right: 0px;
          position: absolute;
        }
      }
    }
  }
}

.jumbo {
  margin-top: 140px;
  height: 400px;
  background-image: url("/images/jumbotron.jpg");
  background-position-x: center;
  background-size: cover;
}
