main {
  background-color: $main_background;
  #current_series {
      h2 {
        display: inline;
        padding: 10px 15px;
        color: white;
        background-color: $primary-blue;
      }
  }

  .box-card {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;

    .card {
      width: 180px;
      margin: 20px 10px;

      .card-image {
        width: 180px;
        height: 180px;
      }
      img {
        object-position: top;
        object-fit: cover;
        height: 100%;
        width: 100%;
      }

      .card-title {
        h4 {
          font-size: 14px;
          color: white;
          font-weight: normal;
          text-transform: uppercase;
          padding-top: 15px;
        }
      }
      &:hover {
        transition: 1s;
        opacity: 0.8;
        transform: translateY(-10px);
      }
    }
  }

  .button_load {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
      a {
        color: white;
        background: $primary-blue;
        padding: 10px 65px;
        text-transform: uppercase;
      }
  }

  .info {
    background: $primary-blue;
    padding: 20px 0;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      li {

        vertical-align: middle;
        margin: 10px 10px;
        a {
          color: white;
          text-transform: uppercase;
          font-size: 14px;
        }
        img {
          vertical-align: middle;
          height: 50px;
          width: 35px;
        }
      }
    }
  }
}
