main {
  background-color: $main_background;
  height: 1000px;
  #current_series {
      h2 {
        display: inline;
        padding: 10px 15px;
        color: white;
        background-color: $primary-blue;
      }
  }

  .box-card {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;

    .card {
      width: 180px;
      margin: 20px 10px;

      .card-image {
        width: 180px;
        height: 180px;
      }
      img {
        object-position: top;
        object-fit: cover;
        height: 100%;
        width: 100%;
      }

      .card-title {
        h4 {
          font-size: 14px;
          color: white;
          font-weight: normal;
          text-transform: uppercase;
          padding-top: 15px;
        }
      }
      &:hover {
        transition: 1s;
        opacity: 0.8;
        transform: translateY(-10px);
      }
    }
  }
}
